@use '../../App.scss' as *;
@use '../../mixins.scss'as *;

.contact-header{
  font-family: 'Horizon bold', 'calibri', sans-serif;
  margin-top: 10rem;
  margin-bottom: 4rem;
  color:  $secondary-color;
    @include tab-screen{
    // font-size: 2rem;
  }
    @include small-screen{
    font-size: 2.4rem;
  }

}

a{
  text-decoration: none;
  color: $primary-color;
}

.form-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include small-screen{
    display: block;
  }
}

.form-block{
  @include small-screen{
    margin-bottom: 4rem;
  }
}

.social-icons{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 2.5rem;
  @include small-screen{
  justify-content: end;

  }
}

.social-icon{
  color: $highlighter;
  opacity: .8;
  transition: all ease .2s;

  &:hover{
    opacity: 1
  }
}

.label, 
.mail,
.num{
  display: block;
  margin-bottom: 2rem;
}

.contact-details{
  font-size: 2.5rem;
  text-align: end;
  @include tab-screen{
  font-size: 2rem;
    text-align: end;
  }
  @include small-screen{
  font-size: 1.7rem;
    text-align: end;
  }
}

.textinput{
  width: 50rem;
  font-family: 'DMSans', 'calibri', sans-serif;
  font-size: 1.4rem;
  color: $color-btn;
  font-weight: 500;
  padding: 2px 5px ;
  border-radius: 1rem;
  height: 3rem;
  outline: none;
  background-color: $primary-color;

  @include large-screen{
    width: 45rem;
  }
  @include tab-screen{
    width: 31rem;
  }
  @include small-screen{
    width: 34rem;
  }
}

.ta{
  height: 8rem;
}

.submit-btn{
  width: 10rem;
  padding: 5px 5px;
  border-radius: 10px;
  background: $highlighter;
  color: $color-btn;
  font-size: 1.6rem;
  font-family: 'DMSans', 'calibri', sans-serif;
  font-weight: 500;
  outline:none;
  cursor: pointer;
  border: none;
  transition: all ease-out  .2s;

  &:hover{
    color: $secondary-color;
  }
}