@use '../../App.scss' as *;
@use '../../mixins.scss' as *;


.header_container{
  height: calc(100vh - 10vh);
  display: flex;
    background-size: cover;
    position: relative;
  @include tab-screen{
    background-image: url(../../assets/images/BG-tab.jpg);
  }
  @include medium-screen{
    flex-grow: 1;
    background-image: url(../../assets/images/BG-mid.jpg);
  }
  @include small-screen{
    background-image: url(../../assets/images/BG-small.jpg);
  }
}

.landingpage-left{
  width: 70%;
  position: relative;
  margin-top: 100px;
  z-index: 10;
  @include medium-screen{
  margin-top: 390px;
  width: 90%;
  }
  @include tab-screen{
    margin-top: 70%;
  }

  @include small-screen{
  width: 85%;
  margin-top: 70%;
  }
}

.intro{
  font-size: 28px;
  opacity: .7;
  margin-bottom: 8px;
  @include small-screen{
    font-size: 20px;
    opacity: 1;
    text-shadow:0px 2px #292525;
    }
}

.name-intro{
  @include small-screen{
    // position: absolute;
    // top: 430px;
    }
}


.fullname{
  font-size: 23px;
  opacity: .89;
  margin-top: 0;
  @include small-screen{
  font-size: 18px;
      }
}

.about_me{
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 25px;
  opacity: .7;
  @include small-screen{
  // margin-top:540px;
    text-shadow:0px 2px #2b2a2a;
    opacity: .9;
}
}

.jd{
  font-family: "Horizon Bold", "calibri";
  font-size: 6rem;
  position: absolute;
  bottom: 0;
  color: $secondary-color;

  @include tab-screen {
    font-size: 4rem;
  }

  @include medium-screen{
    font-size: 200%;
  }

  @include small-screen{
    font-size: 23px;
    bottom: 0px;
  }
}

.stack-list{
  display: flex;
}
.stack-logo{
  width: 10px;
  height: 10px;
  color: $primary-color;
}

.webdev-junction{
  color: $highlighter;
  font-family:'DMSans', "calibri";
  font-size: 90px;
  position: relative;
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  display: inline-block;

  @include medium-screen{
    font-size: 70px;
  }

  @include small-screen{
    font-size: 43px;
    margin-left: 8px;
    margin-right: 8px;
  }

  &::before{
    content:"d"; 
    transform:translateY(-60px);
    @include medium-screen{
      transform:translateY(-50px);
    }
    @include small-screen{
      transform:translateY(-30px);
    }
     }

    &::after{
      content:"v"; 
      left:6.2px;
      transform:translateY(80px);
      @include medium-screen{
        transform:translateY(70px);
      }
      @include small-screen{
        transform:translateY(38px);
      }
    }

    &::before,
    &::after{
      position: absolute;
      top:0;
      left:4.2px;
      right:0;
  font-size: 75px;
  margin: 0 auto;

  @include medium-screen{
    font-size: 55px;
  }
  @include small-screen{
      left:1.1px;
      font-size: 39px;
  }
  }
}

.landingpage-right{
  position: relative;
  width: 50%;

  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #646464, #f5f5f5);
    width: 30rem;
    height: 49rem;
  }

  img{
    position: absolute;
    width: 34rem;
    bottom: 0;
    right: 4rem;
  }

  @include tab-screen{
    display: none;
  }
}