@use '../../App.scss' as *;
@use '../../mixins.scss' as *;


.nav-bar{
  @include small-screen{
    display: none;
    &.expanded{
      display: block;
    }
    }
}



.nav-list{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  @include small-screen{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
    height: fit-content;
    transition: all ease-in-out 0.3s;
  }

  .list-item{
    list-style: none;
    position: relative;
    display: inline-block;
    transition: all ease .2s;

    &:not(:last-child){
      margin-right: 50px;
      @include small-screen{
      margin-right: 30px;
      font-size: 1.3rem;
      display: inline-block;
      }
      &:hover{
        opacity: .7;
      }
    }

    .link{
      text-decoration: none;
      color: $primary-color;
    }

  }
}

#cv{
  padding: 5px 5px;
  border-radius: 10px;
  background: $highlighter;
  color: $color-btn;
  transition: all ease-out  .2s;

  &:hover{
    color: $secondary-color;
  }

  @include small-screen{
    font-size: 1.3rem;
    display: inline-flex;
  }
}

.overlay{
  display: none;
  @include small-screen{
    &.expanded{
      display: block;
    }
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    background-color: rgba(43, 42, 42, 0.5);
    backdrop-filter: blur(10px);
  }
}

.toggle-sidebar{
  display: none;
  @include small-screen{
   display: block;
   position: absolute;
  // margin-top: 2%;
  // margin-left: auto;
  // margin-right: 5%;
   top: 3%;
   z-index: 38;
   right: 10%;
   font-size: 2.5rem;
   color: $primary-color;
   cursor: pointer;
 }
 }