@use './App.scss' as *;
@use './mixins.scss' as *;

:root{
  font-size: 62.5%;
}

body{
  background-color: $color-bg;
  color: $primary-color;
  font-family: 'DMSans', 'sans-serif';
  font-size: 1.6rem;
  // overflow: hidden;
  display: block;
  padding:0 120px;
  max-width: 1152px;
  // border: 1px solid red;
  margin: 0 auto;
  scroll-behavior: smooth;

  @include large-screen{
    padding: 0 65px ;
  }

  @include small-screen{
    padding: 0 25px;
  }
}

